@import 'variables';

.header {
  width: 100%;
  height: 400px;
}

.btn-light {
  background: $light;
  border: 1px solid rgba($dark, .4);
  &:hover {
    background: $pink;
    border: 1px solid rgba($dark, 0);
  }
}

.page {
  width: 100%;
  background: url('../img/page-header.jpg')no-repeat fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.hidden {
  opacity: 0;
}

.header-titlebox {
  position: absolute;
  left: 10%;
  top: 325px;
  background: rgba($pink, .75);
  height: 80px;
  width: 330px;
  padding: 10px;
  text-align: center;
  p {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .header-title {
    margin-top: -5px;
    color: lighten($dark, 12%);
    font-style: italic;
    font-size: 2.1em;
  }
}

.page-main {
  width: 100%;
  height: 90vh;
}

.page-container {
  position: relative;
  width: 80%;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
}

.about-img {
  width: 345px;
  height: 450px;
  background: url('../img/ariel.jpg') no-repeat;
  top: 95px;
  background-size: cover;
  position: absolute;
}

.investment-img {
  background: url('../img/investment.jpg') no-repeat;
  background-size: cover;
  width: 345px;
  height: 450px;
  top: 95px;
  position: absolute;
}

.about-desc {
  right: 0;
  top: 95px;
  width: 50%;
  position: absolute;
  h3 {
    margin-top: -15px;
    color: $gray;
    margin-bottom: -30px;
  }
  p {
    text-transform: none;
    letter-spacing: 0px;
    line-height: 1.7em;
    font-size: 1em;
    color: lighten($dark, 15%);
    font-family: $body;
  }
}

.align-right {
  text-align: right;
  h3 {
    color: $pink;
    margin-top: -30px;
    margin-right: 25px;
  }
}

.cursive {
  font-family: $cursive;
}

/*gallery index page style*/

section {
  margin-top: 80px;
  width: 100%;
  height: auto;
}

.gallery-container{
  position: relative;
  height: 400px;
}
.gallery-topleft {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background: $pink;
  text-align: center;
  h1 {
    color: $light;
    font-size: 2.5em;
    margin-left: 20px;
    margin-bottom: 0;
  }
  p {
    font-size: 1em;
    font-style: italic;
    text-transform: lowercase;
    font-weight: 100;
    font-family: $body;
  }
  i {
    color: $light;
    margin-top: 30px;
    font-size: 1.4em;
  }
}
.gallery-line {
  width: 50px;
  background: $light;
  height: 3px;
  margin: 15px auto 35px auto;
}
.gallery-topright {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.gallery-list {
  margin: 10% auto;
  text-align: center;
  width: 100%;
  p {
    margin-top: -50px;
    margin: 0;
    font-size: .7em;
  }
  h3 {
    color: lighten($pink, 10%);
    text-transform: lowercase;
    line-height: 0;
    margin-bottom: 0;
  }
}

.gallery-columns {
  margin: 5% 3%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-item {
  position: relative;
  transition: $ease;
  text-align: center;
  &:hover {
    background: $light;
    cursor: pointer;
    .gallery-title {
      opacity: 1;
    }
    .gallery-img {
      opacity: .5;
      border-bottom: 5px solid $pink;
      transform: scale(1.05);
    }
  }
}

.gallery-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: $ease;
  border-bottom: 5px solid $light;
}

.gallery-title {
  position: absolute;
  font-size: 2.3em;
  left: 20px;
  bottom: 0;
  opacity: 0;
  transition: $ease;
}

.gallery-ctabox {
  width: 100%;
  height: 200px;
  margin: 0;
  text-align: center;
}
// .gallery-container {
//   width: 80%;
//   height: 100vh;
//   margin: 0 auto;
// }
// .gallery-title {
//   text-align: center;
//   h1 {
//     margin-top: 15%;
//     font-family: $cursive;
//   }
// }
//
// .gallery {
//   display: grid;
//   grid-gap: 15px;
//   grid-template-columns: repeat(3, 1fr);
//   grid-auto-rows: minmax(100px, auto);
// }
//
// .gallery-item-one {
//   border: 1px solid $pink;
//   grid-column: 1 / 3;
//   grid-row: 1 / 4;
//   background: url('../img/weddings.jpg')no-repeat;
//   background-size: cover;
// }
// .gallery-item-two {
//   border: 1px solid $pink;
//   grid-column: 3 / 4;
//   grid-row: 1 / 3;
//   background: url('../img/engagements.jpg')no-repeat;
//   background-size: cover;
// }
// .gallery-item-three {
//   border: 1px solid $pink;
//   grid-column: 1 / 3;
//   grid-row: 4 / 6;
//   background: url('../img/page-header.jpg')no-repeat;
//   background-size: cover;
// }
// .gallery-item-four {
//   border: 1px solid $pink;
//   grid-column: 3 / 4;
//   grid-row: 3 / 6;
//   background: url('../img/header.jpg')no-repeat;
//   background-size: cover;
// }
//
// .rotate {
//   transform: rotate(90deg);
// }


@media only screen and (max-width: 777px) {
  .header {
    height: 200px;
  }
}
