$white: #FFFFFF;
$light: #FAF5F0;
$tan: #C9BEB4;
$pink: #D5C1BE;
$gray: #B5B5C0;
$brown: #836B67;
$teal: #324651;
$dark: #16160E;

@import url('https://fonts.googleapis.com/css?family=Lora|Parisienne|Cormorant+Garamond');

$serif: 'Lora', serif;
$body: 'Cormorant Garamond', serif;
$cursive: 'Parisienne', cursive;

$ease: all .5s ease;

html, body {
  margin: 0;
  padding: 0;
  font-family: $serif;
  background: $light;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $dark;
  transition: $ease;
}

h3 {
  font-size: 2.5em;
  color: $white;
}

h4 {
  font-family: $body;
  text-align: center;
  font-weight: 100;
  font-size: 1.3em;
}
h5 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  color: $dark;
}

button {
  display: inline-block;
  padding: 20px;
  outline: 0;
  border: none;
  font-family: $body;
  color: $dark;
}

.btn-main {
  background: lighten($pink, 2%);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 15px;
  font-weight: 500;
  font-size: .7em;
  transition: $ease;
  &:hover {
    background: $gray;
    transition: $ease;
  }
}
.topbar {
  background: $light;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  box-shadow: 1px 1px 2px rgba($dark, .2);
}

.logo {
  width: 67px;
  opacity: .7;
  left: 10px;
  top: 8px;
  position: absolute;
  z-index: 10;
}

.navbar {
  display: none;
}

.navbar-full {
  list-style-type: none;
  text-align: center;
  margin-top: 30px;
  li {
    display: inline;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  a {
    transition: all .3s ease-in;
    padding: 5px;
    font-size: 10px;
    &:hover {
      color: $light;
      background: $pink;
      padding: 5px;
      transition: $ease;
      font-size: 11px;
    }
  }
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.title {
  position: absolute;
  top: 35vh;
  width: 100%;
  h1 {
    text-align: center;
    font-size: 3.5em;
    color: $light;
    letter-spacing: 9px;
  }
  h2 {
    text-align: center;
    margin-top: -40px;
    letter-spacing: 10px;
    font-weight: 100;
    font-family: $body;
    color: $light;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

.bio {
  width: 100%;
  height: 50vh;
  background: $pink;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 0.5fr 2fr;
  align-items: center;
  justify-items: center;
}

.flower {
  height: 150px;
  margin: 0 auto;
}

.main {
  height: 60vh;
  width: 100%;
  background: $light;
  display: grid;
  justify-items: center;
}
.main-star {
  text-align: center;
  font-size: 3.2em;
  color: lighten($brown, 10%);
  opacity: .2;
}

.main-quote {
  font-weight: 100;
  font-size: 1.4em;
  padding: 20px 70px;
  margin-bottom: 50px;
  font-family: $body;
  color: $dark;
}

.main-line {
  width: 50%;
  margin-top: 70px;
  height: 5px;
  background: $pink;
  opacity: .2;
}

.section-container {
  max-width: 970px;
  margin: auto;
}

.section {
  height: 100vh;
  width: 100%;
  margin-top: -80px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  transition: $ease;
}

.section-box {
  height: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: $ease;
  h5 {
    font-size: 1.1em;
  }
  &:hover {
    transform: scale(1.02);
    h5 {
      color: $pink;
    }
  }
  img {
    transition: $ease;
    max-width: 100%;
    max-height: 100%;
    &:hover {
      opacity: .7;
    }
  }
}

// .section {
//   margin-top: 13%;
//   background: $light;
//   height: 180vh;
// }
//
// .section--box {
//   width: 450px;
//   height: 450px;
//   border: 1px solid rgba($white, .5);
// }
//
// .section--img {
//   position: relative;
//   overflow: hidden;
//   margin: 0 auto;
//   width: 450px;
//   height: 450px;
//   img {
//     position: absolute;
//     transition: $ease;
//     &:hover {
//       transform: scale(1.1);
//       transition: $ease;
//     }
//   }
// }
//
// .section-one {
//   position: absolute;
//   left: 10%;
//   width: 50%;
// }
//
// .section-two {
//   position: absolute;
//   right: 10%;
//   width: 50%;
//   .section--box {
//     position: absolute;
//     right: 0;
//     top: 400px;
//   }
// }
// .section-three {
//   position: absolute;
//   left: 10%;
//   width: 50%;
//   .section--box {
//     position: absolute;
//     top: 800px;
//   }
// }
//
//
// .num {
//   font-size: 4em;
//   color: $white;
//   top: 50px;
//   text-shadow: 1px 1px 3px rgba($pink, .5);
//   position: absolute;
// }
//
// .right {
//   position: absolute;
//   left: 350px;
// }
// .right2 {
//   position: absolute;
//   left: 362px;
// }
//
// .section--title {
//   color: $white;
//   text-shadow: 1px 1px 3px rgba($pink, .5);
//   font-style: italic;
//   font-size: 3.5em;
//   margin-top: -290px;
//   margin-left: 360px;
//   position: absolute;
//   span {
//     background-color: rgba($pink, 0.5);
//   }
// }
// .section--title_left {
//   color: $white;
//   text-shadow: 1px 1px 3px rgba($pink, .5);
//   font-style: italic;
//   font-size: 3.5em;
//   margin-top: -290px;
//   left: -265px;
//   position: absolute;
//   span {
//     background-color: rgba($gray, 0.5);
//   }
// }

.quote {
  position: relative;
  width: 100%;
  height: 75vh;
  background: url("../img/header2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @media (max-width: 500px) {
    background-attachment: scroll;
  }
}

.overlay {
  background-color: rgba($dark, .3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  .hr-line {
    width: 350px;
    margin-left: 10%;
    background: $gray;
    height: 5px;
    margin-top: -20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba($pink, .5);
  }
  h3 {
    padding-top: 10%;
    padding-left: 10%;
    text-shadow: 1px 1px 3px rgba($pink, .5);
  }
  .buttons {
    margin-left: 10%;
    margin-top: -10px;
  }
}

footer {
  background: $gray;
  margin-top: -20px;
  width: 100%;
  height: 35vh;
  text-align: center;
}

.footer-social {
  display: block;
  margin: 0 auto;
  i {
    margin-top: 75px;
    padding: 35px;
    color: lighten($gray, 15%);
    &:hover {
      color: $light;
      transition: $ease;
    }
  }
}

.footer-text {
  padding-top: 55px;
  p {
    color: $dark;
    font-size: .5em;
    line-height: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    vertical-align: bottom;
  }
  a {
    background: rgba($pink, .7);
    &:hover {
      background: rgba($light, .7);
    }
  }
}


/* start of mobile screen styles */

@media only screen and (max-width: 991px) {
/* start of large tablet styles */
  .section-container {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media only screen and (max-width: 897px) {
/* start of medium tablet styles */
}

@media only screen and (max-width: 747px) {
/* start of small tablet styles */
  .section-box {
    height: 40%;
  }
}

@media only screen and (max-width: 700px) {
/* hide main top nav bar */
  .topbar {
    display: none;
  }
  // hamburger menu & navigation bar
  #menu {
    position: fixed;
    width: 80px;
    height: 80px;
    padding: 8px;
    top: 1em;
    right: 0;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 3;
    &.open {
      .top {
        background: darken($white,10%);
        transform: translateY(8px) rotateZ(45deg);
      }
      .middle {
        opacity: 0;
      }
      .bottom {
        background: darken($white,10%);
        transform: translateY(-8px) rotateZ(-45deg);
      }
    }
  }

  nav {
    position: fixed;
    top: 0;
    height: 80px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .1s;
    a {
      text-transform: uppercase;
      font-size: 10px;
      padding: 3px;
      letter-spacing: 3px;
      &:hover {
        font-size: 11px;
        background-color: $white;
      }
    }
    &.show {
      opacity: 1;
      visibility: visible;
      z-index: 3;
    }
  }
  .navbar {
    display: block;
    list-style-type: none;
    text-align: right;
    right: 25px;
    top: 70px;
    padding: 0;
    margin: 0;
    li {
      padding: 5px 10px;
    }
  }

  .bar {
    display: block;
    height: 4px;
    width: 25px;
    background: darken($white,10%);
    margin: 4px auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

@media only screen and (max-width: 594px) {
/* start of phone styles */
  .section {
    display: block;
    margin: 25% auto;
  }
  .section-box {
    margin-left: 10%;
    margin-top: 15px;
    width: 80%;
    height: 300px;
    &:hover {
      h5 {
        color: $light;
      }
      span {
        background: $pink;
      }
    }
    img {
      &:hover {
        opacity: 1;
      }
    }
  }
  .section-title {
    position: absolute;
    margin-left: 20px;
    span {
      background: $light;
      &:hover {
        background-color: $pink;
      }
    }
  }
  .section-img {
    width: 315px;
    height: auto;
  }

  .overlay {
    h3 {
      margin-top: 20%;
      font-size: 1.5em;
    }
  }
  .footer-text {
    p {
      font-size: 7px;
    }
  }
}
