@import url("https://fonts.googleapis.com/css?family=Lora|Parisienne|Cormorant+Garamond");
.about {
  width: 100%;
  background: url("../img/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
