@import url("https://fonts.googleapis.com/css?family=Lora|Parisienne|Cormorant+Garamond");
.header {
  width: 100%;
  height: 400px; }

.btn-light {
  background: #FAF5F0;
  border: 1px solid rgba(22, 22, 14, 0.4); }
  .btn-light:hover {
    background: #D5C1BE;
    border: 1px solid rgba(22, 22, 14, 0); }

.page {
  position: relative;
  margin-top: 80px;
  width: 100%;
  background: url("../img/page-header.jpg") no-repeat fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }

.hidden {
  opacity: 0; }

.header-titlebox {
  position: absolute;
  top: 35%;
  left: 35%;
  background: rgba(213, 193, 190, 0.9);
  height: 80px;
  width: 30%;
  max-width: 400px;
  padding: 10px;
  text-align: center; }
  .header-titlebox .header-title {
    margin-top: -5px;
    color: #3b3b26;
    font-style: italic;
    font-size: 1.5em; }

.page-main {
  position: relative;
  margin: 0;
  width: 100%;
  height: 90vh; }

.page-container {
  position: relative;
  width: 80%;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  transition: all 0.5s ease; }

.about-img {
  width: 345px;
  height: 450px;
  background: url("../img/ariel.jpg") no-repeat;
  top: 95px;
  background-size: cover;
  position: absolute; }

.investment-img {
  background: url("../img/investment.jpg") no-repeat;
  background-size: cover;
  width: 345px;
  height: 450px;
  top: 95px;
  position: absolute; }

.about-desc {
  right: 0;
  top: 95px;
  width: 50%;
  position: absolute; }
  .about-desc h3 {
    margin-top: -15px;
    color: #B5B5C0;
    margin-bottom: -30px; }
  .about-desc p {
    text-transform: none;
    letter-spacing: 0px;
    line-height: 1.7em;
    font-size: 1.1em;
    color: #45452c;
    font-family: "Cormorant Garamond", serif; }

.align-right {
  text-align: right; }
  .align-right h3 {
    color: #D5C1BE;
    margin-top: -30px;
    margin-right: 25px; }

.cursive {
  font-family: "Modena", cursive; }

section {
  margin-top: 80px;
  width: 100%;
  height: auto; }

/*gallery index page style*/
.gallery-container {
  position: relative;
  height: 400px; }

.gallery-topleft {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background: #D5C1BE;
  text-align: center; }
  .gallery-topleft h1 {
    color: #FAF5F0;
    font-size: 2.5em;
    margin-left: 20px;
    margin-bottom: 0; }
  .gallery-topleft p {
    font-size: 1em;
    font-style: italic;
    text-transform: lowercase;
    font-weight: 100;
    font-family: "Cormorant Garamond", serif; }
  .gallery-topleft i {
    color: #FAF5F0;
    margin-top: 30px;
    font-size: 1.4em; }

.gallery-line {
  width: 50px;
  background: #FAF5F0;
  height: 3px;
  margin: 15px auto 35px auto; }

.gallery-topright {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0; }
  .gallery-topright img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; }

.gallery-list {
  margin: 10% auto;
  text-align: center;
  width: 100%; }
  .gallery-list p {
    margin-top: -50px;
    margin: 0;
    font-size: .7em; }
  .gallery-list h3 {
    color: #e9dfdd;
    text-transform: lowercase;
    line-height: 0;
    margin-bottom: 0; }

.gallery-columns {
  margin: 7% 3%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.gallery-item {
  position: relative;
  transition: all 0.5s ease;
  text-align: center; }
  .gallery-item:hover {
    background: #FAF5F0;
    cursor: pointer; }
    .gallery-item:hover .gallery-title {
      opacity: 1; }
    .gallery-item:hover .gallery-img {
      opacity: .5;
      border-bottom: 5px solid #D5C1BE;
      transform: scale(1.05); }

.gallery-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  border-bottom: 5px solid #FAF5F0; }

.gallery-title {
  position: absolute;
  font-size: 2.3em;
  left: 20px;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease; }

.gallery-ctabox {
  width: 100%;
  height: 200px;
  margin: 0;
  text-align: center; }

/* blog index page style */
@media only screen and (min-width: 830px) and (max-width: 1111px) {
  .gallery-columns {
    margin: 5% 10%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr; } }

@media only screen and (min-width: 1000px) {
  .page {
    background-size: cover 400px; } }

@media only screen and (max-width: 991px) {
  .page-container {
    width: 90%; } }

@media only screen and (max-width: 900px) {
  .page-container {
    margin-top: -50px; } }

@media only screen and (max-width: 777px) {
  .page-main {
    height: 90vh; }
  .page {
    margin-top: 0; }
  .page-container {
    width: 100%; }
  .header-titlebox {
    width: 40%;
    left: 30%; }
  .about-img, .investment-img {
    margin: 0; } }

@media only screen and (max-width: 694px) {
  .page-main {
    height: 120vh; }
  .header-titlebox {
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 76.5%; }
  .about-img, .investment-img {
    width: 90%;
    background-position: center;
    left: 5%; }
  .about-desc {
    height: 80%;
    top: 48%;
    width: 90%;
    left: 5%; } }

@media only screen and (max-width: 620px) {
  .header {
    height: 350px; } }

@media only screen and (max-width: 530px) {
  .header {
    height: 300px; }
  .page-main {
    height: 140vh; } }

@media only screen and (max-width: 435px) {
  .header {
    height: 250px; }
  .page-main {
    height: 140vh; } }
