@import url("https://fonts.googleapis.com/css?family=Lora|Parisienne|Cormorant+Garamond");
@font-face {
  font-family: "Modena";
  src: url("../fonts/ModenaScript-Regular.woff") format("woff"); }

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background: #FAF5F0;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #16160E;
  transition: all 0.5s ease; }

p {
  color: #353522;
  font-size: .5em;
  line-height: 1.5em;
  letter-spacing: 3px;
  text-transform: uppercase; }

h2 {
  letter-spacing: 10px;
  font-weight: 100;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  color: #FAF5F0;
  font-size: 1.5em; }

h3 {
  font-size: 2.5em;
  color: #FFFFFF; }

h4 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-weight: 100;
  font-size: 1.3em; }

h5 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  color: #16160E; }

button {
  display: inline-block;
  padding: 20px;
  outline: 0;
  border: none;
  font-family: "Cormorant Garamond", serif;
  color: #16160E; }

.btn-main {
  background: #d9c7c4;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 15px;
  font-weight: 500;
  font-size: .7em;
  transition: all 0.5s ease; }
  .btn-main:hover {
    background: #B5B5C0;
    transition: all 0.5s ease; }

.topbar {
  background: #FAF5F0;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(22, 22, 14, 0.2); }

.logo {
  width: 67px;
  opacity: .7;
  left: 10px;
  top: 8px;
  position: absolute;
  z-index: 10; }

.navbar {
  display: none; }

.navbar-full {
  list-style-type: none;
  text-align: center;
  margin-top: 30px; }
  .navbar-full li {
    display: inline;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .navbar-full a {
    transition: all .3s ease-in;
    padding: 5px;
    font-size: 10px; }
    .navbar-full a:hover {
      color: #FAF5F0;
      background: #D5C1BE;
      padding: 5px;
      transition: all 0.5s ease;
      font-size: 11px; }

.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.title {
  position: absolute;
  top: 35vh;
  width: 100%; }
  .title h1 {
    margin-top: -20px;
    margin-bottom: 0;
    font-family: "Modena", cursive;
    text-align: center;
    font-size: 4.5em;
    color: #FAF5F0; }
  .title h2 {
    text-align: center;
    margin-top: -60px; }

.bio {
  width: 100%;
  height: 50vh;
  background: #D5C1BE;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 0.5fr 2fr;
  align-items: center;
  justify-items: center; }

.flower {
  height: 150px;
  margin: 0 auto; }

.main {
  height: 60vh;
  width: 100%;
  background: #FAF5F0;
  display: grid;
  justify-items: center; }

.main-star {
  text-align: center;
  font-size: 3.2em;
  color: #9c8581;
  opacity: .2; }

.main-quote {
  font-weight: 100;
  font-size: 1.4em;
  padding: 20px 70px;
  margin-bottom: 50px;
  font-family: "Cormorant Garamond", serif;
  color: #16160E; }

.main-line {
  width: 50%;
  margin-top: 70px;
  height: 5px;
  background: #D5C1BE;
  opacity: .2; }

.section-container {
  max-width: 970px;
  margin: auto; }

.section {
  height: 100vh;
  width: 100%;
  margin-top: -80px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  transition: all 0.5s ease; }

.section-box {
  height: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease; }
  .section-box h5 {
    font-size: 1.1em; }
  .section-box:hover {
    transform: scale(1.02); }
    .section-box:hover h5 {
      color: #D5C1BE; }
  .section-box img {
    transition: all 0.5s ease;
    max-width: 100%;
    max-height: 100%; }
    .section-box img:hover {
      opacity: .7; }

.quote {
  position: relative;
  width: 100%;
  height: 75vh;
  background: url("../img/header2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .quote h3 {
    margin-top: 50px;
    line-height: 1.3em; }
  .quote span {
    font-family: "Modena", cursive; }

.overlay {
  background-color: rgba(22, 22, 14, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
  .overlay .hr-line {
    width: 350px;
    margin-left: 10%;
    background: #B5B5C0;
    height: 5px;
    margin-top: -20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(213, 193, 190, 0.5); }
  .overlay h3 {
    padding-top: 10%;
    padding-left: 10%;
    text-shadow: 1px 1px 3px rgba(213, 193, 190, 0.5); }
  .overlay .buttons {
    margin-left: 10%;
    margin-top: -10px; }

footer {
  background: #B5B5C0;
  bottom: 0;
  width: 100%;
  height: 200px;
  text-align: center; }

.footer-social {
  display: block;
  margin: 0 auto; }
  .footer-social i {
    font-size: 1.8em;
    margin-top: 40px;
    padding: 35px;
    color: #dedee3; }
    .footer-social i:hover {
      color: #FAF5F0;
      transition: all 0.5s ease; }

.footer-text {
  margin-top: 30px; }
  .footer-text p {
    vertical-align: bottom;
    margin-bottom: 0; }
  .footer-text a {
    background: rgba(213, 193, 190, 0.7); }
    .footer-text a:hover {
      background: rgba(250, 245, 240, 0.7); }

/*blog style*/
.header-blog {
  width: 100%;
  height: 400px;
  margin-top: 80px;
  position: relative;
  background: rgba(213, 193, 190, 0.5); }
  .header-blog h1 {
    font-family: "Modena", cursive;
    color: #917773;
    font-size: 4.5em;
    padding-top: 65px;
    text-align: center; }

.header-category {
  position: absolute;
  text-align: center;
  bottom: 0;
  background: #D5C1BE;
  width: 100%;
  height: 50px;
  padding-top: 25px; }
  .header-category h2 {
    margin: 0;
    padding: 0;
    color: #836B67;
    font-size: 1em;
    display: inline; }

.category-items {
  display: inline;
  padding: 0 0 2px;
  text-align: right; }
  .category-items li {
    display: inline;
    list-style: none;
    letter-spacing: 2px;
    padding-left: 35px; }
    .category-items li a {
      color: #FAF5F0;
      font-style: italic;
      font-weight: 100;
      font-size: 0.8em;
      text-transform: capitalize;
      padding: 5px; }
      .category-items li a:hover {
        color: #836B67;
        cursor: pointer;
        border: 1px solid #836B67;
        padding: 5px; }

.main-blog {
  position: relative;
  width: 100%;
  min-height: 100vh; }

.blog-posts {
  position: absolute;
  width: 72%;
  height: 490px;
  max-width: 980px;
  right: 15%;
  top: 10%;
  transition: all 0.5s ease; }

.blog-img {
  position: absolute;
  width: 350px;
  height: 425px;
  overflow: hidden; }
  .blog-img img {
    max-width: 400px;
    position: absolute;
    left: 50%;
    bottom: -10%;
    margin-left: -225px; }

.blog-date {
  transform: rotate(-90deg);
  color: #B5B5C0;
  position: absolute;
  left: -40px; }
  .blog-date span {
    font-family: "Modena", cursive; }
  .blog-date h4 {
    font-family: "Lora", serif; }

.blog-summary {
  position: absolute;
  width: 60%;
  left: 380px;
  text-align: center; }

.blog-title h3 {
  margin: 50px 20px 40px 0px;
  color: #D5C1BE;
  font-size: 2em;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: -1px;
  text-transform: capitalize; }

.blog-title a {
  color: #D5C1BE;
  cursor: pointer; }
  .blog-title a:hover {
    text-decoration: underline;
    color: #cbb2af; }

.blog-tags {
  margin-top: 70px; }

.tags {
  font-family: "Modena", cursive;
  color: #836B67;
  letter-spacing: 0;
  text-transform: none;
  font-style: normal;
  font-size: 25px;
  cursor: pointer; }
  .tags:hover {
    color: #D5C1BE;
    text-decoration: underline; }

/*blog small styling changes*/
.summary {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.6em;
  margin-bottom: 35px; }

.line-break {
  height: 1px;
  width: 10%;
  margin-left: 45%;
  background: #B5B5C0;
  margin-bottom: 35px; }

.btn-sm {
  padding: 10px;
  font-size: .6em; }

@media only screen and (max-width: 1040px) {
  .category-items li {
    padding-left: 10px; } }

@media only screen and (max-width: 930px) {
  .blog-title h3 {
    margin: 30px 20px 20px 0px; }
  .blog-summary {
    width: 50%; } }

@media only screen and (max-width: 885px) {
  .category-items {
    display: block;
    text-align: center;
    margin-top: 0; }
  .header-category {
    padding-bottom: 10px; } }

@media only screen and (max-width: 765px) {
  .blog-posts {
    width: 100%;
    left: 2%; }
  .blog-summary {
    width: 40%;
    text-align: left; }
  .line-break {
    margin-left: 5px; }
  .blog-tags {
    margin-top: 40px; }
  .blog-date {
    transform: rotate(0deg);
    left: 0;
    z-index: 5;
    border: 1px solid #B5B5C0;
    padding: 5px; }
    .blog-date h4 {
      margin: 0;
      font-size: 0.8em; } }

@media only screen and (max-width: 625px) {
  .main-blog {
    margin-top: 5px; }
  .blog-img {
    width: 320px; }
  .blog-summary {
    left: 350px; } }

@media only screen and (max-width: 520px) {
  .main-blog {
    margin-top: 250px; }
  .header-category {
    padding-bottom: 0; }
  .category-items {
    display: block;
    padding: 20px 0;
    background: #D5C1BE; }
    .category-items li {
      display: block;
      line-height: 1.8em; }
      .category-items li a:hover {
        color: #836B67;
        cursor: pointer;
        border: 1px solid #836B67;
        padding: 5px; }
  .blog-img {
    width: 100%;
    left: 5%; }
    .blog-img img {
      opacity: .5; }
  .blog-summary {
    top: 5%;
    width: 90%;
    left: 5%;
    text-align: center; }
  .line-break {
    margin-left: 45%; }
  .tags:hover {
    color: #FFFFFF; } }

/* start of mobile screen styles */
@media only screen and (max-width: 991px) {
  /* start of large tablet styles */
  .section-container {
    margin-left: 45px;
    margin-right: 45px; } }

@media only screen and (max-width: 897px) {
  /* start of medium tablet styles */ }

@media only screen and (max-width: 777px) {
  /* hide main top nav bar */
  .topbar, .topbar-page {
    display: none; }
  #menu {
    position: fixed;
    width: 80px;
    height: 80px;
    padding: 8px;
    top: 1em;
    right: 0;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 3; }
    #menu.open .top {
      background: #e6e6e6;
      transform: translateY(8px) rotateZ(45deg); }
    #menu.open .middle {
      opacity: 0; }
    #menu.open .bottom {
      background: #e6e6e6;
      transform: translateY(-8px) rotateZ(-45deg); }
  nav {
    position: fixed;
    top: 0;
    height: 80px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .1s; }
    nav a {
      text-transform: uppercase;
      font-size: 10px;
      padding: 3px;
      letter-spacing: 3px; }
      nav a:hover {
        font-size: 11px;
        background-color: #FFFFFF; }
    nav.show {
      opacity: 1;
      visibility: visible;
      z-index: 3; }
  .navbar {
    display: block;
    list-style-type: none;
    text-align: right;
    right: 25px;
    top: 70px;
    padding: 0;
    margin: 0; }
    .navbar li {
      padding: 5px 10px; }
  .bar {
    display: block;
    height: 4px;
    width: 25px;
    background: #e6e6e6;
    margin: 4px auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  .section-box {
    height: 40%; } }

@media only screen and (max-width: 594px) {
  /* start of phone styles */
  .section {
    display: block;
    margin: 25% auto; }
  .section-box {
    margin-left: 10%;
    margin-top: 15px;
    width: 80%;
    height: 300px; }
    .section-box:hover h5 {
      color: #FAF5F0; }
    .section-box:hover span {
      background: #D5C1BE; }
    .section-box img:hover {
      opacity: 1; }
  .section-title {
    position: absolute;
    margin-left: 20px; }
    .section-title span {
      background: #FAF5F0; }
      .section-title span:hover {
        background-color: #D5C1BE; }
  .section-img {
    width: 315px;
    height: auto; }
  .overlay h3 {
    margin-top: 20%;
    font-size: 1.5em; }
  .footer-text p {
    font-size: 7px; } }
