@import url("https://fonts.googleapis.com/css?family=Lora|Parisienne|Cormorant+Garamond");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background: #FAF5F0; }

a {
  text-decoration: none;
  color: #16160E; }

h4 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-weight: 100;
  font-size: 1.3em; }

h5 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  color: #16160E; }

.topbar {
  background: #FAF5F0;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10; }

.logo {
  width: 67px;
  opacity: .7;
  left: 10px;
  top: 8px;
  position: absolute;
  z-index: 10; }

.nav {
  position: absolute;
  width: 100%;
  height: 55px;
  z-index: 10; }

.navbar {
  list-style-type: none;
  text-align: center;
  margin-top: 30px; }
  .navbar li {
    display: inline;
    padding: 25px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px; }
  .navbar a {
    transition: all .5s ease;
    padding: 5px; }
    .navbar a:hover {
      color: #FAF5F0;
      background: #D5C1BE;
      padding: 5px;
      transition: all .5s ease; }

.hero {
  width: 100%;
  height: 95vh;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.title {
  position: absolute;
  top: 35vh;
  width: 100%; }
  .title h1 {
    text-align: center;
    font-size: 3em;
    color: #FAF5F0;
    letter-spacing: 9px; }
  .title h2 {
    text-align: center;
    margin-top: -40px;
    letter-spacing: 10px;
    font-weight: 100;
    font-family: "Cormorant Garamond", serif;
    color: #FAF5F0;
    text-transform: uppercase;
    font-size: 1.3em; }

.bio {
  width: 100%;
  height: 50vh;
  background: #D5C1BE; }

.bio-left {
  width: 50%;
  height: 100%;
  position: absolute;
  padding-top: 120px; }

.bio-right {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  padding-top: 120px; }

.main {
  height: 50vh;
  width: 100%;
  background: #FAF5F0; }

.main-center {
  position: absolute;
  width: 100%;
  margin-top: 50px; }
  .main-center h3 {
    text-align: center;
    font-family: "Parisienne", cursive;
    letter-spacing: 2px;
    padding-left: 25px;
    font-size: 3.2em;
    color: #9c8581;
    opacity: .2; }
  .main-center h4 {
    font-weight: 100;
    margin-top: -50px;
    margin-bottom: 70px;
    font-size: 1.4em;
    text-align: center;
    padding: 20px 180px;
    font-family: "Cormorant Garamond", serif;
    color: #16160E; }

.main-line {
  width: 50%;
  margin-left: 25%;
  margin-top: 8%;
  margin-bottom: 70px;
  height: 2px;
  background: #D5C1BE; }

.section {
  margin-top: 20%;
  background: #FAF5F0;
  width: 100%;
  height: 200vh; }

.section--box {
  width: 450px;
  height: 450px;
  border: 1px solid #324651; }

.section--img {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 450px;
  height: 450px; }
  .section--img img {
    position: absolute; }

.section-one {
  position: absolute;
  left: 10%;
  width: 50%; }

.section-two {
  position: absolute;
  right: 10%;
  width: 50%; }
  .section-two .section--box {
    position: absolute;
    right: 0;
    top: 400px; }

.section-three {
  position: absolute;
  left: 10%;
  width: 50%; }
  .section-three .section--box {
    position: absolute;
    top: 800px; }

.num {
  font-size: 4.5em;
  color: #FFFFFF;
  top: 50px;
  text-shadow: 1px 1px 3px rgba(213, 193, 190, 0.5);
  position: absolute; }

.right {
  position: absolute;
  left: 350px; }

.right2 {
  position: absolute;
  left: 362px; }

.section--title {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(213, 193, 190, 0.5);
  font-style: italic;
  font-size: 3.5em;
  margin-top: -270px;
  margin-left: 360px;
  position: absolute; }

.section--title_left {
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(213, 193, 190, 0.5);
  font-style: italic;
  font-size: 3.5em;
  margin-top: -270px;
  left: -255px;
  position: absolute; }
