@import url("https://fonts.googleapis.com/css?family=Lora|Parisienne|Cormorant+Garamond");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background: #FAF5F0;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #16160E;
  transition: all 0.5s ease; }

h3 {
  font-size: 2.5em;
  color: #FFFFFF; }

h4 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-weight: 100;
  font-size: 1.3em; }

h5 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  color: #16160E; }

button {
  display: inline-block;
  padding: 20px;
  outline: 0;
  border: none;
  font-family: "Cormorant Garamond", serif;
  color: #16160E; }

.btn-main {
  background: #d9c7c4;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 15px;
  font-weight: 500;
  font-size: .7em;
  transition: all 0.5s ease; }
  .btn-main:hover {
    background: #B5B5C0;
    transition: all 0.5s ease; }

.topbar {
  background: #FAF5F0;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
  box-shadow: 1px 1px 2px rgba(22, 22, 14, 0.2); }

.logo {
  width: 67px;
  opacity: .7;
  left: 10px;
  top: 8px;
  position: absolute;
  z-index: 10; }

.navbar {
  display: none; }

.navbar-full {
  list-style-type: none;
  text-align: center;
  margin-top: 30px; }
  .navbar-full li {
    display: inline;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .navbar-full a {
    transition: all .3s ease-in;
    padding: 5px;
    font-size: 10px; }
    .navbar-full a:hover {
      color: #FAF5F0;
      background: #D5C1BE;
      padding: 5px;
      transition: all 0.5s ease;
      font-size: 11px; }

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.title {
  position: absolute;
  top: 35vh;
  width: 100%; }
  .title h1 {
    text-align: center;
    font-size: 3.5em;
    color: #FAF5F0;
    letter-spacing: 9px; }
  .title h2 {
    text-align: center;
    margin-top: -40px;
    letter-spacing: 10px;
    font-weight: 100;
    font-family: "Cormorant Garamond", serif;
    color: #FAF5F0;
    text-transform: uppercase;
    font-size: 1.5em; }

.bio {
  width: 100%;
  height: 50vh;
  background: #D5C1BE;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 0.5fr 2fr;
  align-items: center;
  justify-items: center; }

.flower {
  height: 150px;
  margin: 0 auto; }

.main {
  height: 60vh;
  width: 100%;
  background: #FAF5F0;
  display: grid;
  justify-items: center; }

.main-star {
  text-align: center;
  font-size: 3.2em;
  color: #9c8581;
  opacity: .2; }

.main-quote {
  font-weight: 100;
  font-size: 1.4em;
  padding: 20px 70px;
  margin-bottom: 50px;
  font-family: "Cormorant Garamond", serif;
  color: #16160E; }

.main-line {
  width: 50%;
  margin-top: 70px;
  height: 5px;
  background: #D5C1BE;
  opacity: .2; }

.section-container {
  max-width: 970px;
  margin: auto; }

.section {
  height: 100vh;
  width: 100%;
  margin-top: -80px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  transition: all 0.5s ease; }

.section-box {
  height: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease; }
  .section-box h5 {
    font-size: 1.1em; }
  .section-box:hover {
    transform: scale(1.02); }
    .section-box:hover h5 {
      color: #D5C1BE; }
  .section-box img {
    transition: all 0.5s ease;
    max-width: 100%;
    max-height: 100%; }
    .section-box img:hover {
      opacity: .7; }

.quote {
  position: relative;
  width: 100%;
  height: 75vh;
  background: url("../img/header2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.overlay {
  background-color: rgba(22, 22, 14, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }
  .overlay .hr-line {
    width: 350px;
    margin-left: 10%;
    background: #B5B5C0;
    height: 5px;
    margin-top: -20px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(213, 193, 190, 0.5); }
  .overlay h3 {
    padding-top: 10%;
    padding-left: 10%;
    text-shadow: 1px 1px 3px rgba(213, 193, 190, 0.5); }
  .overlay .buttons {
    margin-left: 10%;
    margin-top: -10px; }

footer {
  background: #B5B5C0;
  margin-top: -20px;
  width: 100%;
  height: 35vh;
  text-align: center; }

.footer-social {
  display: block;
  margin: 0 auto; }
  .footer-social i {
    margin-top: 75px;
    padding: 35px;
    color: #dedee3; }
    .footer-social i:hover {
      color: #FAF5F0;
      transition: all 0.5s ease; }

.footer-text {
  padding-top: 55px; }
  .footer-text p {
    color: #16160E;
    font-size: .5em;
    line-height: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    vertical-align: bottom; }
  .footer-text a {
    background: rgba(213, 193, 190, 0.7); }
    .footer-text a:hover {
      background: rgba(250, 245, 240, 0.7); }

/* start of mobile screen styles */
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .section-container {
    margin-left: 45px;
    margin-right: 45px; } }

@media screen and (max-width: 897px) {
  /* start of medium tablet styles */ }

@media screen and (max-width: 747px) {
  /* start of small tablet styles */
  .section-box {
    height: 40%; } }

@media screen and (max-width: 700px) {
  /* hide main top nav bar */
  .topbar {
    display: none; }
  #menu {
    position: fixed;
    width: 80px;
    height: 80px;
    padding: 8px;
    top: 1em;
    right: 0;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    z-index: 3; }
    #menu.open .top {
      background: #e6e6e6;
      transform: translateY(8px) rotateZ(45deg); }
    #menu.open .middle {
      opacity: 0; }
    #menu.open .bottom {
      background: #e6e6e6;
      transform: translateY(-8px) rotateZ(-45deg); }
  nav {
    position: fixed;
    top: 0;
    height: 80px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .1s; }
    nav a {
      text-transform: uppercase;
      font-size: 10px;
      padding: 3px;
      letter-spacing: 3px; }
      nav a:hover {
        font-size: 11px;
        background-color: #FFFFFF; }
    nav.show {
      opacity: 1;
      visibility: visible;
      z-index: 3; }
  .navbar {
    display: block;
    list-style-type: none;
    text-align: right;
    right: 25px;
    top: 70px;
    padding: 0;
    margin: 0; }
    .navbar li {
      padding: 5px 10px; }
  .bar {
    display: block;
    height: 4px;
    width: 25px;
    background: #e6e6e6;
    margin: 4px auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; } }

@media screen and (max-width: 594px) {
  /* start of phone styles */
  .section {
    display: block;
    margin: 25% auto;
    height: 100%; }
  .section-box {
    margin-left: 10%;
    margin-top: 15px;
    width: 80%;
    height: 300px; }
    .section-box:hover h5 {
      color: #FAF5F0; }
    .section-box:hover span {
      background: #D5C1BE; }
    .section-box img:hover {
      opacity: 1; }
  .section-title {
    position: absolute;
    margin-left: 20px; }
    .section-title span {
      background: #FAF5F0; }
      .section-title span:hover {
        background-color: #D5C1BE; }
  .section-img {
    width: 315px;
    height: auto; }
  .overlay h3 {
    margin-top: 20%;
    font-size: 2em; }
  .footer-text p {
    font-size: 8px; } }
